<nz-tabset>
  <nz-tab nzTitle="Mô tả ngắn">
    <form [formGroup]="formDesc">
      <div class="btn text-end">
        <button class="m-3" nz-button nzType="primary" [disabled]="isDisableDesc" (click)="onSave()">Lưu</button>
      </div>
      <label class="font-bold my-3">Tên sản phẩm</label>
      <input class="my-3 w-full" type="text" formControlName="name" [value]="data.title" (ngModelChange)="isDisableDesc=false">
      <label class="font-bold my-3">Mô tả ngắn</label>
      <textarea class="w-full my-3" formControlName="desc" (ngModelChange)="isDisableDesc=false" [value]="data.desc"></textarea>
    </form>
  </nz-tab>
  <nz-tab nzTitle="Ảnh minh hoạ">
    <div class="btn text-end">
      <button class="my-3" nz-button nzType="primary" (click)="showModal()">Thêm</button>
    </div>

    <nz-table #middleTable nzSize="middle" [nzData]="dataImg" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Ảnh</th>
          <th>URL</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataImg">
          <td style="width: 20%;">
            <img style="width: 100px; height: auto;" [src]="item" alt="ảnh không tồn tại">
          </td>
          <td><textarea class="w-full">{{item}}</textarea></td>
          <td>
            <button nz-button nzSize="large" nzType="primary" (click)="showDeleteConfirm(item)">Xoá</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="modalCrete">
      <nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm ảnh minh hoạ" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
          <nz-table #middleTable nzSize="middle" [nzData]="dataImg" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Ảnh</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 20%;">
                  <img style="width: 100px; height: auto;" [src]="newImageSrc" alt="">
                </td>
                <td><textarea [(ngModel)]="newImageSrc" class="w-full border border-1 border-solid p-2"></textarea></td>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </nz-modal>
    </div>

  </nz-tab>
  <nz-tab nzTitle="Mô tả chi tiết">
    <div class="btn text-end">
      <button class="m-3" nz-button nzType="primary" [disabled]="isDisableDescDetail" (click)="onSaveDesc()">Lưu</button>
    </div>
    <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" (ngModelChange)="isDisableDescDetail = false"></ckeditor>
  </nz-tab>
</nz-tabset>
<div class="alert w-1/2 justify-end fixed top-3 right-3" [style.display]="isDisplayAlert">
  <nz-alert class="w-1/2" nzType="success" nzMessage="Cập nhật thành công" nzShowIcon></nz-alert>
</div>
