<div class="banner">
  <div class="text-intro">
    <h1 class="text-white uppercase text-3xl font-light">về chúng tôi</h1>
    <br>
  </div>
</div>

<app-commit></app-commit>

<div class="banner1">
  <div class="text-intro">
    <h1 class="text-white uppercase font-light">Sứ mệnh của chúng tôi đối với khách hàng là tiên phong mang đến những giải pháp tốt nhất, góp phần nâng tầm chất lượng công trình.</h1>
    <br>
  </div>
</div>

<div class="grid grid-cols-12">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="outstanding-product my-16">
      <div class="text-xl uppercase font-bold">sản phẩm nổi bật</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 10%;margin-bottom: 30px;"></div>
      <app-carousel [data]="outStandingProduct"></app-carousel>
    </div>
  <div class="col-span-2"></div>
</div>
