<div class="banner">
  <div class="text-intro">
    <h1 class="text-white uppercase text-3xl font-light">Công ty TNHH Sản xuất & Thương mại NASA</h1>
    <br>
    <span class="">
      Cơ khí NASA tự hào là một trong những đơn vị hàng đầu Việt Nam về trong lĩnh vực sắt mỹ thuật và nhôm kính.
      Chúng tôi với kinh nghiệm hơn 10 năm luôn sẵn sàng tư vấn, sản xuất và thi công các công trình đạt tiêu chuẩn kỹ thuật cao nhất
      với giá cạnh tranh cho quý khách hàng trên toàn quốc.
    </span>
    <div class="see-more flex justify-center my-3">
      <div class="button px-5 py-2 text-xl font-bold" (click)="navigateIntroduce()">Tìm hiểu thêm</div>
    </div>
  </div>
</div>


<!-- <div class="grid grid-cols-12 bg-slate-300">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="my-5">
      <div class="grid grid-cols-3 my-10">
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-5xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="bulb" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-bold text-xl m-3">sản phẩm đồng bộ</div>
        </div>
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-5xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="dollar" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-bold text-xl m-3">đa dạng giá cả</div>
        </div>
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-5xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-bold text-xl m-3">chính hãng uy tín</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2"></div>
</div> -->

<div class="grid grid-cols-12 my-10">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="">
      <div class="text-xl uppercase font-bold">Cam kết của chúng tôi với quý khách hàng</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 25%;margin-bottom: 30px;"></div>
      <div class="grid grid-cols-4 my-10">
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-6xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="bulb" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-light text-2xl m-3">sản phẩm</div>
          <div class="desc text-center text-l">
            Chúng tôi cam kết đem đến cho quý khách hàng những sản phẩm chính hãng, độ bền ấn tượng.
            Tự tin đồng hành cùng bạn trong mọi hành trình.
          </div>
        </div>
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-6xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="customer-service" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-light text-2xl m-3">tư vấn</div>
          <div class="desc text-center text-l">chỉ Tư vấn sản phẩm phù hợp với nhu cầu quý khách hàng. Không tư vấn sản phẩm đắt đỏ nếu khách hàng không yêu cầu</div>
        </div>
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-6xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-light text-2xl m-3">dịch vụ</div>
          <div class="desc text-center text-l">Cam kết chất lượng, kỹ thuật, giá cả cạnh tranh. Đảm bảo đúng tiến độ, không gây ảnh hưởng đến các hạng mục khác trong công trình</div>
        </div>
        <div class="col-span-1 px-5">
          <div class="text-center">
            <span class="text-6xl p-5 m-3 hover:bg-orange-500 hover:text-white" style="border: 2px solid #F08E33; border-radius: 50%;" nz-icon nzType="safety" nzTheme="outline"></span>
          </div>
          <div class="tit text-center uppercase font-light text-2xl m-3">bảo hành</div>
          <div class="desc text-center text-l">Bảo hành dài hạn các sản phẩm được xuất xưởng. nếu hết bảo hành, Vẫn hỗ trợ sửa chữa, bảo trì theo nhu cầu của khách hàng</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2"></div>
</div>

<div class="category">
  <app-home-category></app-home-category>
</div>

<div class="quotation">
  <!-- <app-quotaion></app-quotaion> -->
</div>
