<div class="banner mt-3">
  <div class="text-intro">
    <h1 class="text-white uppercase text-3xl font-normal">CÔNG TY TNHH SẢN XUẤT & THƯƠNG MẠI NASA</h1>
    <br>
    <span class="hotline">hotline: 0877.025.888 - 0922626555</span>
  </div>
</div>

<div class="footer">
  <div class="info grid grid-cols-12 py-10" style="background-color: #303035;">
    <div class="col-span-2"></div>
    <div class="intro col-span-3 mx-5">
      <div class="text-l uppercase font-bold text-white">Giới thiệu</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 50px;margin-bottom: 30px;"></div>
      <div class="text-white">Công ty TNHH TM&SX Nội thất SmartHome luôn muốn đem đến sự ấn tượng và hài lòng tuyệt đối cho mọi khách hàng.
        Bởi chúng tôi tâm niệm rằng, sự ấn tượng và hài lòng tuyệt đối của quý khách hàng,
        chính là sự thành công của chúng tôi trong suốt hành trình dài xây dựng thương hiệu.</div>
    </div>
    <div class="link col-span-3 mx-5">
      <div class="text-l uppercase font-bold text-white">showroom và nhà máy</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 50px;margin-bottom: 30px;"></div>
      <div class="uppercase text-white">QL10, yên bằng, ý yên, nam định </div>
      <div class="uppercase text-white">cống đặng, hữu bằng, thạch thất, hà nội </div>
    </div>
    <div class="fb col-span-2 mx-5">
      <div class="text-l uppercase font-bold text-white">Facebook</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 50px;margin-bottom: 30px;"></div>
      <!-- <div class="text-white">introduce</div> -->
      <a href="https://www.facebook.com/profile.php?id=100074205543992"><img style="width: 100px; height: auto;" src="../../../../assets//images/logo.png" alt=""></a>
    </div>
    <div class="col-span-2"></div>
  </div>
</div>
