<div class="footer">
  <div class="info grid grid-cols-12 py-3">
    <div class="col-span-2"></div>
    <div class="intro bg-blue-800 col-span-3 text-white">Giới thiệu</div>
    <div class="link bg-blue-800 col-span-3 text-white">Liên kết</div>
    <div class="fb bg-blue-800 col-span-2 text-white">Facebook</div>
    <div class="col-span-2"></div>
  </div>
  <div class="copyright grid grid-cols-12 bg-gray-800 py-3">
    <p class="text-white mx-auto my-auto col-span-12">copyright by NASA</p>
  </div>
</div>
