<!-- <div class="grid grid-cols-12">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="grid grid-cols-12 my-10">
      <div class="col-span-7">
        <div class="image">
          <img style="border: 15px #fff solid;" src="https://i.pinimg.com/474x/0c/03/4b/0c034bddc731047c6cce28f3e8155ad2.jpg" alt="">
        </div>
        <div class="slide my-3">
          <carousel
            [images]="images"
            [cellsToShow]="4"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
            >
          </carousel>
        </div>
      </div>
      <div class="col-span-5">
        <div class="name mx-3 text-3xl">Lan can sắt mỹ thuật</div>
        <div class="underline mx-3 my-3" style="border-top:3px solid #F08E33; width: 25%;margin-bottom: 30px;"></div>
        <div class="mx-3 text-l font-light">
          Lan can sắt mỹ thuật là loại lan can được làm từ vật liệu sắt, với kiểu dáng và họa tiết đa dạng, giúp tạo ra không gian sống độc đáo và sinh động cho ban công hoặc cầu thang. Với sự sáng tạo của người thợ gia công, kiểu dáng và kích thước lan can ban công nghệ thuật thì vô cùng đa dạng và phong phú, giúp thể hiện được nét riêng biệt cho từng công trình.
        </div>
      </div>
    </div>
    <div class="desc">
      <div class="title uppercase text-xl font-bold">mô tả</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 2%;margin-bottom: 10px;"></div>
      <div class="content">
        <div class="text-title">1. Lan can sắt nghệ thuật là gì?</div>
        <div class="text">
          Lan can sắt mỹ thuật là một sản phẩm đa dạng về hình dáng và họa tiết, được làm từ sắt và được áp dụng cho nhiều loại công trình khác nhau. Lan can có thể phân loại theo nhiều tiêu chí khác nhau để phù hợp với nhu cầu của từng khách hàng: <br>
          - <b>Theo kiểu dáng: </b> lan can sắt mỹ thuật có hai loại chính: hiện đại với những đường nét trang trí đơn giản hoặc cổ điển với những họa tiết hoa văn tinh tế. Lan can sắt đơn giản thường tập trung vào tính thẩm mỹ và tối ưu hóa chức năng bảo vệ. Trong khi đó, mẫu lan can sắt tân cổ điển thường có các họa tiết tinh xảo, phức tạp và thường được ứng dụng cho những công trình mang phong cách cổ điển hoặc lịch sử. <br>
          - <b>Theo chức năng: </b> lan can mỹ thuật cũng được phân loại thành hai loại: dùng cho ban công và dùng cho cầu thang. Lan can mỹ thuật từ sắt dùng cho ban công thường được thiết kế để bảo vệ, giúp cho không gian ban công của quý khách an toàn hơn. Trong khi đó, lan can nghệ thuật sắt dùng cho cầu thang được thiết kế để bảo vệ người đi lại. Cả 2 loại lan can này đều đồng thời giúp trang trí cho không gian thêm phần lộng lẫy và sang trọng. <br>
          - <b>Theo vật liệu: </b> lan can cho ban công từ sắt mỹ thuật cũng được làm từ nhiều loại sắt khác nhau, bao gồm sắt hộp, sắt ống, sắt đặc… Mỗi loại sắt này có ưu điểm và hạn chế khác nhau, đáp ứng được nhu cầu sử dụng của từng loại công trình và tính chất khác nhau của từng nơi. <br>
          Với sự đa dạng về kiểu dáng, chức năng và vật liệu chế tác, lan can sắt mỹ nghệ là một sản phẩm được ưa chuộng trong việc trang trí không gian sống và công trình, mang lại tính thẩm mỹ cao và độ bền lâu dài.
        </div>
        <div class="text-title">
          2. Tại sao lan can từ sắt mỹ thuật được ưa chuộng?
        </div>
        <div class="text">
          Lan can nghệ thuật từ sắt là lựa chọn hoàn hảo cho những ai muốn sở hữu một sản phẩm vừa đẹp mắt, vừa bền bỉ và đa năng trong việc sử dụng. Một số ưu điểm nổi bật của sản phẩm lan can mỹ nghệ: <br>
          - <b>Độ bền cao:</b> Sắt là loại kim loại có độ cứng, có khả năng chịu được lực tác động mạnh, đảm bảo sự an toàn cho người sử dụng và tăng độ bền theo thời gian cho lan can. <br>
          - <b>Thẩm mỹ cao:</b> Lan can mỹ thuật từ sắt là sự lựa chọn hoàn hảo cho những ai yêu thích vẻ đẹp thẩm mỹ của ngôi nhà. Lan can nghệ thuật từ sắt được chế tác với nhiều hoa văn độc đáo và quý phái, tạo nên điểm nhấn cho không gian sống. <br>
          - <b>Dễ chế tác:</b> Là một trong những vật liệu xây dựng phổ biến, sắt không chỉ có độ bền cao mà còn được đánh giá cao về tính dễ chế tác. Với tính năng dẻo dai, sắt có thể được uốn cong, hàn, ghép nối và tạo hình một cách dễ dàng, cho phép thiết kế lan can mỹ thuật theo ý muốn của khách hàng một cách linh hoạt và đa dạng. <br>
          - <b>Dễ bảo dưỡng:</b> Quý khách không phải lo lắng về việc lan can bị hư hỏng hay xuống cấp theo thời gian. Chỉ cần thực hiện những công đoạn đơn giản như sơn lại hoặc xử lý han gỉ khi có dấu hiệu bị ăn mòn, quý khách có thể giữ cho lan can luôn mới và đẹp như ban đầu. <br>
          Tiết kiệm chi phí: Lan can nghệ thuật từ sắt là một trong những lựa chọn thông minh cho việc lắp đặt hệ thống lan can trong kiến trúc. Với đặc tính dễ chế tác và lắp đặt, lan can từ sắt mỹ thuật có chi phí đầu tư ban đầu thấp hơn so với các loại lan can khác. Ngoài ra, sự bền bỉ và dễ bảo dưỡng của lan can đẹp sắt mỹ thuật cũng giúp tiết kiệm chi phí sửa chữa và bảo trì trong dài hạn. <br>
        </div>

    </div>
  </div>
  <div class="col-span-2"></div>
</div> -->



<div class="grid grid-cols-12">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="grid grid-cols-12 my-10">
      <div class="col-span-6">
        <div class="image">
          <img style="border: 15px #fff solid;" src="https://i.pinimg.com/474x/3f/49/12/3f49128bcd49d46115d90831d326f931.jpg" alt="">
        </div>
        <div class="slide my-3">
          <carousel
            [images]="images"
            [cellsToShow]="3"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
            >
          </carousel>
        </div>
      </div>
      <div class="col-span-4">
        <div class="name mx-3 text-3xl">Lan can sắt mỹ thuật</div>
        <div class="underline mx-3 my-3" style="border-top:3px solid #F08E33; width: 25%;margin-bottom: 30px;"></div>
        <div class="mx-3 text-l font-light">
          Lan can sắt mỹ thuật là loại lan can được làm từ vật liệu sắt, với kiểu dáng và họa tiết đa dạng, giúp tạo ra không gian sống độc đáo và sinh động cho ban công hoặc cầu thang. Với sự sáng tạo của người thợ gia công, kiểu dáng và kích thước lan can ban công nghệ thuật thì vô cùng đa dạng và phong phú, giúp thể hiện được nét riêng biệt cho từng công trình.
        </div>
      </div>
      <div class="col-span-2">
        <div class="categoryProduct">
          <h3 class="uppercase text-l">Danh mục sản phẩm</h3>
          <ul nz-menu nzMode="inline" style="list-style-type: none; margin: 0;">
            <li class="uppercase" nzOpen="true" *ngFor="let item of productLst" nz-submenu [nzTitle]="item.name" nzIcon="appstore">
              <ul class="ulchild" *ngIf="item.children">
                <li class="child uppercase" [nzSelected]="child.path === 'handrail' ? true : false " (click)="selectChild(item, child)" *ngFor="let child of item.children" nz-menu-item>{{child.name}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="desc">
      <div class="title uppercase text-xl font-bold">mô tả</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 2%;margin-bottom: 10px;"></div>
      <div class="text-bold">1. Lan can sắt nghệ thuật là gì? </div>
      <ul>
        <li>Bên cạnh tính năng bảo vệ an toàn, lan can sắt nghệ thuật còn làm đẹp không gian sống cho người sử dụng. Với những họa tiết hoa văn tinh tế và phức tạp, lan can sắt tạo nên một phong cách thẩm mỹ đặc trưng và độc đáo cho công trình của quý khách.</li>
        <li>Lan can sắt mỹ thuật là một sản phẩm đa dạng về hình dáng và họa tiết, được làm từ sắt và được áp dụng cho nhiều loại công trình khác nhau. Lan can có thể phân loại theo nhiều tiêu chí khác nhau để phù hợp với nhu cầu của từng khách hàng: <br>
      </ul>
      <div class="text-bold">2. Tại sao lan can từ sắt mỹ thuật được ưa chuộng?</div>
      <ul>
        <li>Độ bền cao: Sắt là loại kim loại có độ cứng, có khả năng chịu được lực tác động mạnh, đảm bảo sự an toàn cho người sử dụng và tăng độ bền theo thời gian cho lan can.</li>
        <li>Tính thẩm mỹ cao: Lan can mỹ thuật từ sắt là sự lựa chọn hoàn hảo cho những ai yêu thích vẻ đẹp thẩm mỹ của ngôi nhà. Lan can nghệ thuật từ sắt được chế tác với nhiều hoa văn độc đáo và quý phái, tạo nên điểm nhấn cho không gian sống</li>
        <li>Dễ chế tác: Là một trong những vật liệu xây dựng phổ biến, sắt không chỉ có độ bền cao mà còn được đánh giá cao về tính dễ chế tác. Với tính năng dẻo dai, sắt có thể được uốn cong, hàn, ghép nối và tạo hình một cách dễ dàng, cho phép thiết kế lan can mỹ thuật theo ý muốn của khách hàng một cách linh hoạt và đa dạng.</li>
        <li>Dễ bảo dưỡng: Quý khách không phải lo lắng về việc lan can bị hư hỏng hay xuống cấp theo thời gian. Chỉ cần thực hiện những công đoạn đơn giản như sơn lại hoặc xử lý han gỉ khi có dấu hiệu bị ăn mòn, quý khách có thể giữ cho lan can luôn mới và đẹp như ban đầu.</li>
        <li>Tiết kiệm chi phí: Lan can nghệ thuật từ sắt là một trong những lựa chọn thông minh cho việc lắp đặt hệ thống lan can trong kiến trúc. Với đặc tính dễ chế tác và lắp đặt, lan can từ sắt mỹ thuật có chi phí đầu tư ban đầu thấp hơn so với các loại lan can khác. Ngoài ra, sự bền bỉ và dễ bảo dưỡng của lan can đẹp sắt mỹ thuật cũng giúp tiết kiệm chi phí sửa chữa và bảo trì trong dài hạn.</li>
      </ul>
      <div class="text-bold">3. Phân loại theo kiểu dáng </div>
      <ul>
        <li>Hiện đại với những đường nét trang trí đơn giản hoặc cổ điển với những họa tiết hoa văn tinh tế. Lan can sắt đơn giản thường tập trung vào tính thẩm mỹ và tối ưu hóa chức năng bảo vệ.</li>
        <li>Tân cổ điển thường có các họa tiết tinh xảo, phức tạp và thường được ứng dụng cho những công trình mang phong cách cổ điển hoặc lịch sự.</li>
      </ul>
      <div class="text-bold">4. Phân loại theo chức năng </div>
      <ul>
        <li>Lan can mỹ thuật từ sắt dùng cho ban công thường được thiết kế để bảo vệ, giúp cho không gian ban công của quý khách an toàn hơn.</li>
        <li>Lan can nghệ thuật sắt dùng cho cầu thang được thiết kế để bảo vệ người đi lại.</li>
        <li>Cả 2 loại lan can này đều đồng thời giúp trang trí cho không gian thêm phần lộng lẫy và sang trọng.</li>
      </ul>
      <div class="text-bold">5. Phân loại theo vật liệu </div>
      <ul>
        <li>lan can cho ban công từ sắt mỹ thuật cũng được làm từ nhiều loại sắt khác nhau, bao gồm sắt hộp, sắt ống, sắt đặc… Mỗi loại sắt này có ưu điểm và hạn chế khác nhau, đáp ứng được nhu cầu sử dụng của từng loại công trình và tính chất khác nhau của từng nơi</li>
      </ul>
    </div>
  </div>
  <div class="col-span-2"></div>
</div>
