<div class="grid grid-cols-12">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="grid grid-cols-12 my-10">
      <div class="col-span-6">
        <div class="image">
          <img style="border: 15px #fff solid;" src="https://i.pinimg.com/474x/6b/e4/d8/6be4d8fc8fccb04f33f662bdd74fb4ba.jpg" alt="">
        </div>
        <div class="slide my-3">
          <carousel
            [images]="images"
            [cellsToShow]="4"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
            >
          </carousel>
        </div>
      </div>
      <div class="col-span-4">
        <div class="name mx-3 text-3xl">Cửa nhôm thuỷ lực</div>
        <div class="underline mx-3 my-3" style="border-top:3px solid #F08E33; width: 25%;margin-bottom: 30px;"></div>
        <div class="mx-3 text-l font-light">
          Cửa nhôm thủy lực là loại cửa nhôm được đóng mở bằng bản lề thủy lực tên thường gọi là bản lề sàn. Cửa nhôm thủy lực được cấu tạo bởi 2 phần chính đó là hệ nhôm bản lớn có thông số 80mm hoặc 120mm hoặc 180mm tạo sự chắc chắn, bề thế sang trọng cho bộ cửa. Cửa nhôm thủy lực có nhiều đặc điểm nổi bật so với các dòng cửa nhôm khác.
        </div>

      </div>
      <div class="col-span-2">
        <div class="categoryProduct">
          <h3 class="uppercase text-l">Danh mục sản phẩm</h3>
          <ul nz-menu nzMode="inline" style="list-style-type: none; margin: 0;">
            <li class="uppercase" nzOpen="true" *ngFor="let item of productLst" nz-submenu [nzTitle]="item.name" nzIcon="appstore">
              <ul class="ulchild" *ngIf="item.children">
                <li class="uppercase" [nzSelected]="child.path === 'hydraulic' ? true : false " (click)="selectChild(item, child)" *ngFor="let child of item.children" nz-menu-item>{{child.name}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="desc">
      <div class="title uppercase text-xl font-bold">mô tả</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 2%;margin-bottom: 10px;"></div>
      <div class="text-bold">1. Cấu tạo cửa nhôm hệ thủy lực gồm 3 phần chính.</div>
      <ul>
        <li>Khung nhôm hệ thủy lực dày 2mm. Bản cánh 8mm, 120mm, 180mm. Khung bao bản 55 x 120mm, 80 x 140mm, 55 x 200mm.</li>
        <li>Kính cường lực gồm kính hộp nan hoa hoặc kính dán an toàn.</li>
        <li>Phụ kiện bản lề sàn thủy lực thươn hiệu EuroVN hoặc VVP, tay nắm cửa , khóa sàn,...</li>
      </ul>
      <div class="text-bold">2. Khung nhôm hệ thủy lực cao cấp đủ loại kích thước màu sắc</div>
      <ul>
        <li>Khung nhôm là thành phần không thể thiếu để cấu tạo nên một bộ cửa nhôm kính, nhưng khác với các loại cửa nhôm thông thường thì cửa nhôm thủy lực sử dụng loại khung nhôm bản to có độ dày profile nhôm 2mm đảm bảo kết cấu cực kì chắc chắn.</li>
        <li>Khung cánh làm bằng nhôm thủy lực có khả năng đảm bảo an toàn cực kì tốt, bao bọc 4 cạnh trọng yếu cả tấm kính chống sốc, rạn vỡ, phân tán lực tác động trên toàn bộ cánh cửa.</li>
        <li>Các thương hiệu nhôm được sử dụng phổ biến trên thị trường hiện nay: Nhôm thủy lực QueenViet, Nhôm thủy lực PMA, Nhôm thủy lực Owin, Nhôm thủy lực Singhal, Nhôm thủy lực KOIA, Nhôm thủy lực BLK,...</li>
      </ul>
      <div class="text-bold">3. Kính cường lực, kính dán an toàn, kính hộp nan hoa</div>
      <ul>
        <li>Loại kính cường lực được tôi nhiệt ở nhiệt độ cao và xử lý bằng công nghệ tôi nhiệt làm cho kính có khả năng chịu lực gấp nhiều lần kính thông thường. Tùy theo mục đích sử dụng cửa nhôm thủy lực có thể dùng kính cường lực dán an toàn hay kính hộp cường lực nan đồng có hoa để tăng thêm độ thẩm mỹ sang trọng, chắc chắn cho căn nhà của gia chủ.</li>
        <li>Để tăng tính trang trọng, đẳng cấp cửa nhôm thủy lực thường được lắp kính hộp cách âm, cách nhiệt. Đây là loại kính cao cấp nhất hiện nay sử dụng an toàn khi vỡ không gây nguy hiểm, có độ dày và phần chân không giúp chống ồn, chống nóng tuyệt đối. Ngoài ra kính hộp còn có các họa tiết trang trí với nan đồng, hoa văn giúp mẫu cửa nhôm thủy lực trở nên trang trọng, cuốn hút hơn so với các loại thông thường.</li>
      </ul>
      <div class="text-bold">3. Phụ kiện cửa nhôm hệ thủy lực</div>
      <ul>
        <li>Bộ phụ kiện cửa nhôm thủy lực cần thiết bao gồm: Bản lề sàn thủy lực, kẹp trên được liên kết với ngõng chế, còn kẹp dưới được lắp đặt kết hợp với bản lề, tay nắm và khóa sàn.</li>
        <li>Phụ kiện thường dùng của các hãng như EuroVN, VVP, Hafele… Bảo hành tối thiểu 2 năm</li>
      </ul>
      <div class="text-bold">4. Thông số kỹ thuật và đặc điểm của cửa nhôm hệ thủy lực</div>
      <ul>
        <li>Cửa nhôm hệ thủy lực là dòng cửa hiện đại cao cấp, tất cả các vật tư linh kiện phải có sự đồng độ với nhau. Khung nhôm thủy lực bản to thường có kích thước khung bao bản nhôm là 55 x 120mm, 80 x 140mm, 55 x 200mm, độ dày khung bao cửa 2mm được áp dụng kỹ thuật ép ke góc hiện đại tao ra độ chắc chắn, kín khít, chống thấm nước.</li>
        <li>Màu sắc khung bao nhôm sắc nét, đẹp mắt gồm có: xám đậm, các loại màu vân gỗ phù hợp với mỗi tông màu nhà khách nhau. Nếu quý khách có nhu cầu sử dụng màu sắc khác có thể đặt hàng sơn tĩnh điện theo yêu cầu.</li>
      </ul>
    </div>
  </div>
  <div class="col-span-2"></div>
</div>
