<div class="banner">
  <div class="text-intro">
    <h1 class="text-white uppercase text-3xl font-bold">liên hệ với chúng tôi</h1>
  </div>
</div>

<div class="grid grid-cols-12 mt-10">
  <div class="col-span-2"></div>
    <div class="col-span-8">
      <nz-descriptions nzTitle="Công ty TNHH Sản xuất & Thương mại NASA">
        <nz-descriptions-item nzTitle="NGƯỜI ĐẠI DIỆN">Ông: Phạm Quang Huy</nz-descriptions-item>
        <nz-descriptions-item nzTitle="SỐ ĐIỆN THOẠI">0877.025.888</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mã số thuế">Empty</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Email">Empty</nz-descriptions-item>
        <nz-descriptions-item nzTitle="SHOWROOM VÀ NHÀ MÁY">
          QL10, YÊN BẰNG, Ý YÊN, NAM ĐỊNH - CỐNG ĐẶNG, HỮU BẰNG, THẠCH THẤT, HÀ NỘI
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
  <div class="col-span-2"></div>
</div>
