<div class="grid grid-cols-12">
  <div class="col-span-2"></div>
  <div class="col-span-8">
    <div class="grid grid-cols-12 my-10">
      <div class="col-span-6">
        <div class="image">
          <img style="border: 15px #fff solid;" src="https://i.pinimg.com/474x/3d/0a/d3/3d0ad3e94a5a032b8b72204b90e95ec1.jpg" alt="">
        </div>
        <div class="slide my-3">
          <carousel
            [images]="images"
            [cellsToShow]="3"
            [loop]="true"
            [autoplay]="true"
            [autoplayInterval]="3000"
            >
          </carousel>
        </div>
      </div>
      <div class="col-span-4">
        <div class="name mx-3 text-3xl">Cửa nhôm trượt quay</div>
        <div class="underline mx-3 my-3" style="border-top:3px solid #F08E33; width: 25%;margin-bottom: 30px;"></div>
        <div class="mx-3 text-l font-light">
          Cửa trượt quay đang là hệ cửa nhôm có công năng ưu Việt và mang lại những giá trị vô cùng khác biệt về giải pháp cho mọi công trình hiện nay.
        </div>
      </div>
      <div class="col-span-2">
        <div class="categoryProduct">
          <h3 class="uppercase text-l">Danh mục sản phẩm</h3>
          <ul nz-menu nzMode="inline" style="list-style-type: none; margin: 0;">
            <li class="uppercase" nzOpen="true" *ngFor="let item of productLst" nz-submenu [nzTitle]="item.name" nzIcon="appstore">
              <ul class="ulchild" *ngIf="item.children">
                <li class="child uppercase" [nzSelected]="child.path === 'rotating' ? true : false " (click)="selectChild(item, child)" *ngFor="let child of item.children" nz-menu-item>{{child.name}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="desc">
      <div class="title uppercase text-xl font-bold">mô tả</div>
      <div class="underline" style="border-top:3px solid #F08E33; width: 2%;margin-bottom: 10px;"></div>
      <div class="text-bold">1. Độ bền và  chắc chắn </div>
      <ul>
        <li>Ngoài tính thẩm mỹ, khi nhắc đến thiết kế và xây dựng nhà cửa, ai cũng mong muốn chọn những nguyên vật liệu chắc chắn và bền nhất cho ngôi ngà của mình. Cửa nhôm trượt quay hoàn toàn đáp ứng được điều kiện đó.</li>
        <li>Cửa nhôm mở trượt quay  được tạo từ các thanh profile có rãnh để tăng độ cứng cho sản phẩm. Cửa chớp được sử dụng như một lớp bảo vệ mà không cần đến chấn song như cửa chớp thông thường. Bên ngoài, được phủ lớp sơn để không bị hoen gỉ và bền hơn. Bởi thế, những vấn đề như bị công, bị vênh, hoen gỉ, mọt mối,… sẽ không còn là vấn đề  bởi sự chịu lực và độ bền cao của cửa nhôm mở trượt quay.</li>
      </ul>
      <div class="text-bold">2. Tăng view rộng rãi </div>
      <ul>
        <li>Loại cửa này còn có khả năng kỳ diệu mà không loại cửa nào có được. Đó là khả năng mở rộng diện tích. Tạo ra không gian rộng rãi, thoáng khí. Là “ sợi dây” kết nối giữa bên trong căn nhà và bên ngoài thiên nhiên. Đặc biệt, với nhà resort, việc hòa hợp với thiên nhiên là một điểm cộng. Cửa nhôm mở trượt quay thu ánh sáng giúp ngôi nhà sáng sủa, không còn tù túng.</li>
      </ul>
      <div class="text-bold">3. Giải pháp chống nóng và cách âm hiệu quả </div>
      <ul>
        <li>Với kết cấu nhiều lớp của mình, cửa nhôm trượt  được mệnh danh là “vệ sĩ” bảo vệ căn nhà khỏi nắng nóng, ồn ào, tăng khả năng cách âm, cách nhiệt … Gia chủ hoàn toàn yên tâm mình sẽ được sống trong không gian được “ canh gác” kĩ lưỡng bởi dòng cửa nhôm trượt quay  cao cấp có quá nhiều ưu điểm vượt trội này.</li>
      </ul>
    </div>
  </div>
  <div class="col-span-2"></div>
</div>
